appnope
argon2-cffi
attrs
backcall
bleach
certifi
cffi
chardet
cycler
decorator
defusedxml
entrypoints
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
jedi
Jinja2
joblib
json5
jsonschema
jupyter-client
jupyter-core
jupyterlab
jupyterlab-server
kiwisolver
MarkupSafe
matplotlib
mistune
nbconvert
nbformat
notebook
numpy
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
prometheus-client
prompt-toolkit
ptyprocess
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pyzmq
requests
scikit-learn
scipy
seaborn
Send2Trash
six
terminado
testpath
threadpoolctl
tornado
traitlets
urllib3
wcwidth
webencodings
zipp